<h1>Listing graffitis</h1>

    <div class="row">
      <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
        <% @graffitis.each do |graffiti| %>
          <li class="block-grid-single">
            <div class="">
              <%= link_to graffiti do %>
                <div class="large-12 image-container" style="background-image:url('<%= graffiti.images %>');">
                </div>
              <% end %>
              <%#= render 'descriptionBlock' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
<br>

<%= link_to 'New Graffiti', new_graffiti_path %>
