<% if @graffiti.images != nil %>
<div class="row">
  <%= image_tag @graffiti.images %>
</div>
<% end %>

<div class="row">
  <p>
    <%= @graffiti.description %>
  </p>
</div>

<%#= link_to 'Edit', edit_graffiti_path(@graffiti) %> |
<%= link_to 'Back', graffitis_path %>
