<div class="row">
  <%= image_tag @graffiti.image %>
</div>

<div class="row">
  <p>
    <%= @graffiti.description %>
  </p>
</div>

<%#= link_to 'Edit', edit_graffiti_path(@graffiti) %> |
<%= link_to 'Back', graffitis_path %>
