<div class="row text-center">
  <h1 class="subheader">Gallery Shows</h1>
  <h2>Stay Anonymous | No Middlemen | See Offer Upfront</h2>
</div>
<div class="row">
  <% @locations.each do |location| %>
    <div class="large-4 column">
      <div class="large-9">
        <div class="employeer-block-container">
          <div class="title-wrapper row">
            <div class="large-3 column">
              <%= image_tag 'facebooklogo.jpeg', :class=>'small-thumbnail' %>
            </div>
            <div class="large-9 column">
              <h3><%= location.image %></h3>
            </div>
          </div>
          <div class="row">
            <div class="large-12 column">
              <p><%= location.description %></p>
            </div>
          </div>
          <div class="row status-wrapper">
            <div class="column large-12">
              <span class="left">
                Last Round:
              </span>
              <span class="right">
                123
              </span>
            </div>
            <div class="column large-12">
              <span class="left">

                Salary:
              </span>
              <span class="right">123</span>
            </div>
            <div class="column large-12">
              <span class="left">

               Equity:
              </span>
              <span class="right">123</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row action-buttons text-center">
  <a href="" class="button white radius">Find a Gallery</a>
  <a href="" class="button secondary radius">Post to Gallery</a>
</div>
<hr>
