<div class="row text-center">
  <h1 class="subheader">Gallery Shows</h1>
  <h2>Stay Anonymous | No Middlemen | See Offer Upfront</h2>
</div>
<div class="row">
  <%= render 'layouts/modules/employmentContent' %>
  <%= render 'layouts/modules/employmentContent' %>
  <%= render 'layouts/modules/employmentContent' %>
</div>
<div class="row action-buttons text-center">
  <a href="" class="button white radius">Find a Gallery</a>
  <a href="" class="button secondary radius">Post to Gallery</a>
</div>
<hr>
