<div class="row">
  <div class="owl-carousel">

    <% @users.each do |user| %>

      <div class="item">
        <div class="large-10 text-center">
          <img src="http://fakeimg.pl/300x140" alt="">
          <h3><%= user.name %></h3>
          <span class="label secondary">Collector</span>
          <ul class="no-bullet">
            <li>
              <%= user.location %>
            </li>
          </ul>
        </div>
      </div>

    <% end %>

  </div>
</div>
<hr>
