<div class="location-block">
  <div class="map-wrapper">
    This is a map
  </div>
  <div class="project-details">
    <h4>Project Untitled</h4>
    <h5>San Francisco, CA, USA</h5>
  </div>
  <div class="image-block"></div>
</div>
