
<div class="location-block row">
  <div class="large-12 column">
    <div class="graph-wrapper">
      This is a color
    </div>
    <div class="graph-details">
      <ul>
        <li>Tumblrs</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
    <div class="image-block"></div>
  </div>
</div>
