
<div class="location-block row">
  <div class="large-12 column">
    <div class="graph-wrapper">
      This is a graph
    </div>
    <div class="graph-details">
    1
    2
    3
    4
    </div>
    <div class="image-block"></div>
  </div>
</div>
