
<div class="location-block row">
  <div class="large-12 column">
    <div class="graph-wrapper">
      This is a graph
    </div>
    <div class="graph-details">
      Reported tags
      Reported pieces
      Reported murals
      Tumblrs
      Twitter
      Instagram
    </div>
    <div class="image-block"></div>
  </div>
</div>
