<div class="row">
  <div id="comments" class="large-12 column">
    <% @comments.each do |comment| %>
      <% commentClass = [] %>
      <% if comment.respond_to?('inputType') %>
        <% commentClass << comment.inputType %>
      <% end %>
      <div class="comment  panel <%= commentClass.join(' ') %>">
        <%= simple_format comment.content %>
        <% if comment.inputType %>
          <% if comment.user_id != nil %>
            -<%= link_to User.find(comment.user_id).username, User.find(comment.user_id) %>
          <% else  %>
            -Anonymous
          <% end %>
          <span class="time">
            <%= comment.created_at %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
