<div class="row">
  <div id="comments" class="large-12 column">
    <% @comments.each do |comment| %>
      <div class="comment  panel">
        <%= simple_format comment.content %>
        <% if comment.user_id != nil %>
          -<%= link_to User.find(comment.user_id).username, User.find(comment.user_id) %>

        <% else  %>
          -Anonymous
        <% end %>
        <%= comment.created_at %>
      </div>
    <% end %>
  </div>
</div>
