<div class="row">
  <div class="large-9 column">
    <header>
      <h1>Most Popular Street Artists Now</h1>
    </header>
    <% @artists.each do |artist| %>
      <ul class="large-block-grid-3">
        <% artist.graffitis.each do |graffiti| %>
          <li>
            <%= link_to graffiti do %>
              <%= image_tag graffiti.images %>
              <%= graffiti.description %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

  </div>
  <div class="large-3 column"></div>
</div>

