<div class="row">
  <div class="large-9 column">
    <header>
      <h1>Most Popular Street Artists Now</h1>
    </header>
    <% @curated_pieces.each do |curated_piece| %>

    <% end %>

  </div>
  <div class="large-3 column"></div>
</div>

