<div class="row">
  <div class="large-9 column">
    <header>
      <h1>Most Popular Street Artists Now</h1>
    </header>
    <% @artists.each do |artist| %>
      <% artist.graffitis.each do |graffiti| %>
        <%= link_to graffiti do %>
          <%= graffiti.description %>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="large-3 column"></div>
</div>

