<h1 class="text-center hero-white">Over <strong id="count-amount"><%= InstagramArt.count/2 %></strong> pieces</h1>

<script src="/js/countup.js"></script>

<script>
  window.setInterval(function(){
    $.ajax({
      url: "/art_count"
    }).done(function(data) {
      window.old_count = $('#count-amount').html();
      window.current_count = data;
      var countUp = new countUp("count-amount", old_count, current_count, 0, 4.5, options);
      countUp.start();
    });
  }, 2000);
  window.current_count = <%= InstagramArt.count %>;
  var options = {
    useEasing : true,
    useGrouping : true,
    separator : ',',
    decimal : '.',
    prefix : '',
    suffix : ''
  }
  var countUp = new countUp("count-amount", <%= InstagramArt.count/2 %>, current_count, 0, 4.5, options);
  countUp.start();
</script>
