<h1 class="text-center hero-white">Over <strong id="count-amount"><%= InstagramArt.count %></strong> pieces</h1>

<script src="/js/countup.js"></script>

<script>
  window.setInterval(function(){
    $.ajax({
      url: "/art_count"
    }).done(function(data) {
      window.old_count = parseInt($('#count-amount').html(), 10);
      window.current_count = data;
      var options = {
        useEasing : true,
        useGrouping : true,
        separator : ',',
        decimal : '.',
        prefix : '',
        suffix : ''
      }
      var continueCount = new countUp("count-amount", old_count, current_count, 0, .5, options);
      continueCount.start();
    });
  }, 2000);
</script>
