<div class="row height-100 hero-sections">
  <div class="large-6 column">
    <div class="row top-10">
      <div class="large-4 column bg-annotate">
      </div>
      <div class="large-8 column">
        <h2 class="">Upload and Annotate</h2>
        <p>PublicArtfound is the best place to upload public art pictures and collect annotations. Pictures contain places, capture moments, and share a story. PublicArtfound is the best place to put all this information together.
        </p>
        <a href="" data-reveal-id="myModal" class="button success radius">Get access</a>
      </div>
    </div>

  </div>
  <div class="large-6 column">
    <div class="row top-10">
      <div class="large-4 column bg-security">
      </div>
      <div class="large-8 column">
        <h2 class="">Security and Privacy</h2>
        <p>Street art can be sensitive. PublicArtfound lets you preserve the privacy of your pictures while keeping them organized. Your accounts privacy is controlled by you. You have control to show, hide, or delete what you upload.
        </p>
        <a href="" data-reveal-id="myModal" class="button success radius">Get access</a>
      </div>
    </div>

  </div>
</div>
