<div class="row height-100 hero-sections">
    <div class="top-10">
      <div class="large-10 column large-centered">
        <div class="row">
          <div class="large-1 column">
            <div class="bg-locked"></div>
          </div>
          <div class="large-11 column">
            <h2 class="">Security and Privacy</h2>
            <p>PublicArtfound preserves your privacy while keeping contributions. Your accounts privacy is controlled by you. You have control to show, hide, or delete what you upload.
            </p>
            <a href="" data-reveal-id="myModal" class="button success radius">Get access</a>
          </div>
        </div>
      </div>
    </div>
</div>
