<div class="full-image-wrap home-hero-wrap hero-image-slice" style="background: url('http://s3.amazonaws.com/at-fidget/graffitis/images/000/000/036/original/IMG_9294.jpg?1406807660'); background-size: cover; background-position: 0 0%;">
    <div class="text-center" style="position: absolute;
left: 0;
right: 0;
top: 200px;">
      <%= render 'layouts/hero/home_content' %>
    </div>
</div>
