
<div class="full-image-wrap home-hero-wrap hero-image-slice">
    <div class="text-center hero-container">
      <%= render 'layouts/hero/home_content' %>
    </div>
</div>

<div class="full-image-wrap">
  <%= render 'graffitis/graffiti_index' %>
</div>
