<div class="row">
  <div class="large-6 column">

  </div>
  <div class="large-6 column">
    <div class="hero-example-text">
      <%= image_tag 'logo-full.png' %>
      <h1 class="hero-white second">The best way to track and <br>share public art experiements</h1>
      <p class="">We want to be the place you collect your pictures of street art, attribute artists, and annotate important dates. We want to be where artists showcase interactive art projects that span large spaces. We want to be the place to reference when you are curious about public art installations.</p>
      <h2 class="hero-white fifth">
        <%= link_to 'Learn more', hello_path,  :class =>'success radius button white bold' %>
      </h2>
    </div>
  </div>
</div>
<!-- <h2 class="hero-white">Document history by annotating artists, pieces, and places</h2> -->

