<h1 class="hero-white first">Share your favorite street art</h1>
<h1 class="hero-white second">Upload a picture</h1>
<h1 class="hero-white third">Associate a place</h1>
<h1 class="hero-white fourth">Pick creation and removal dates</h1>
<h2 class="hero-white">Document history by annotating artists, pieces, and places</h2>
<%= link_to 'Learn more', hello_path,  :class =>'success radius button white bold' %>
