<div class="hero-explain-box">
  <!-- Step 1 -->
  <div class="step-upload example-section">
    <div class="border-drag">
      <div class="dragged-graffiti">
        <%= image_tag 'GIFT.jpg' %>
      </div>
    </div>
  </div>
  <!-- End Step 1 -->

  <!-- Step 2 -->
  <div class="step-place example-section">
    <div class="ex-location-pin">
      <%= image_tag 'location-pin.png' %>
    </div>
    <div class="ex-location-map">
      <%= image_tag 'location-map.jpg' %>
    </div>
  </div>
  <!-- End Step 2 -->

  <!-- Step 3 -->
  <div class="step-time example-section">
    <div class="ex-timeline">
      <div class="ex-time-wrapper">
        <div class="ex-start">
          <div class="number-start">
            Created:
            <div class="number-start-year">
              1990
            </div>
          </div>
        </div>
        <div class="ex-end">
          <div class="number-end">
            Removed:
            <div class="number-end-year">
              2014
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Step 3 -->


</div>
<div class="hero-example-text">

  <h1 class="hero-white first">Public Art Found</h1>

  <h1 class="hero-white second">Upload pictures</h1>

  <h1 class="hero-white third">Associate places</h1>

  <h1 class="hero-white fourth">Identify important dates</h1>

  <h1 class="hero-white fifth">
    <%= link_to 'Learn more', hello_path,  :class =>'success radius button white bold' %>
  </h1>
</div>
<!-- <h2 class="hero-white">Document history by annotating artists, pieces, and places</h2> -->

