
<div class="row"></div>

<style>
  body { margin:0; padding:0; }
  #map-wrapper{
    position: relative;
    height: 100%;
  }
  #map { position:absolute; top:0; bottom:0; width:100%; }
  #marker-list li:hover {
      background:#eee;
  }
</style>

<div id="map-wrapper" >
  <div class="large-5 column home-grid-wrap">
    <ul id='marker-list' class="center-block large-block-grid-3 medium-block-grid-4 small-block-grid-2">
      <%= render 'graffitis/graffiti_home_index' %>
    </ul>
  </div>
  <div class="large-7 column height-100">
    <div id='map'></div>
  </div>
</div>

<div class="row"></div>

<div id="time_line"></div>
