<div class="row martop-small">
  <div class="stepbystep large-12 column large-centered">
    <div class="row">

      <div class="large-4 column">
        <h3>Create pages for public art</h3>
        <p>Set up a free web page for your art pieces.</p>
      </div>
      <div class="large-8 column">
        <%= image_tag 'ex-macbook.png' %>
      </div>
    </div>
  </div>
</div>
<div class="row  martop-small">
  <div class="large-12 column">
    <div class="row">
      <div class="large-6 column">
        <h3>Upload images and video</h3>
        <p>Upload images and videos. Capture the full story around pieces. </p>
      </div>
      <div class="large-6 column">
        <%= image_tag 'ex-upload.png' %>
      </div>
    </div>
  </div>
</div>
<div class="row  martop-small">
  <div class="large-12 column">
    <div class="row">
      <div class="large-5 column">
        <h3>Document the details.</h3>
        <p>Collect location, time, and other facts with PublicArtfound.</p>
      </div>
      <div class="large-7 column">
        <%= image_tag 'detail-card.png' %>
      </div>
    </div>
  </div>
</div>
