<div class="row top-10">
  <div class="stepbystep large-8 column large-centered">
    <div class="row">
      <div class="large-4 column">
        <div class="bg-annotate"></div>
      </div>
      <div class="large-8 column">
        <h2 class="">Step 1</h2>
        <h3>Create art pieces</h3>
        <p>Set up a free web page for your art pieces.</p>
      </div>
    </div>
  </div>
</div>
<div class="row  martop-small">
  <div class="large-8 column large-centered">
    <div class="row">
      <div class="large-4 column">
        <div class="bg-upload"></div>
      </div>
      <div class="large-8 column">
        <h2 class="">Step 2</h2>
        <h3>Upload images and video</h3>
        <p>Upload images and videos. Capture the full story around pieces. </p>
      </div>
    </div>
  </div>
</div>
<div class="row  martop-small">
  <div class="large-8 column large-centered">
    <div class="row">
      <div class="large-4 column">
        <div class="bg-security"></div>
      </div>
      <div class="large-8 column">
        <h2 class="">Step 3</h2>
        <h3>Share with other contributors</h3>
        <p>Document the details. Keep it together with PublicArtfound.</p>
      </div>
    </div>
  </div>
</div>
