
<div class="row"></div>
<div id="time_line"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/timeline-min.js"></script>
<script src="js/storyembed.js"></script>
<script src="js/timelineDeclaration.js"></script>
