<% provide(:title, @user.name) %>

<div class="row">
  <div class="large-4 column user-column">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>

    <% @activities.each do |activity| %>
      <%= ActivityPresenter.new(activity, self).render_activity %>
    <% end %>

    </section>
  </div>
  <div class="large-8 column">
  </div>
</div>
