<% provide(:title, "What is Public Art Found?") %>

<% set_meta_tags :site => 'Public Artfound', :title => 'About', :reverse => true %>

<div class="full-image-wrap">
  <div class="row">
    <div class="large-12 column">
      <%= render 'layouts/hero/home_content' %>
    </div>x
  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <h1>About</h1>
    <p>
      Public Art Found is a platform for street artists and art curators - to make quality decisions based the power of the internet.
    </p>
    <p>
      Think Angelist meets Wikipedia for art.
    </p>
  </div>
</div>
