<script id="template-file" type="template">
  <div id="file-{{id}}" class="row">{{content}}</div>
</script>

<script id="template-text" type="template">
  <div id="text-{{id}}" class="row">{{content}}</div>
</script>

<script id="template-address" type="template">
  <div id="address-{{id}}" class="row">{{content}}</div>
</script>

<script id="template-url-video" type="template">
  <div id="url-video-{{id}}" class="row">{{content}}</div>
</script>

<script id="template-url-image" type="template">
  <div id="url-image-{{id}}" class="row">{{content}}</div>
</script>

<script id="template-date" type="template">
  <div id="date-{{id}}" class="row">{{content}}</div>
</script>

