<script id="template-file" type="template">
  <div>{{this}}</div>
</script>

<script id="template-text" type="template">
  <div>{{this}}</div>
</script>

<script id="template-address" type="template">
  <div>{{this}}</div>
</script>

<script id="template-url-video" type="template">
  <div>{{this}}</div>
</script>

<script id="template-url-image" type="template">
  <div>{{this}}</div>
</script>

<script id="template-date" type="template">
  <div>{{this}}</div>
</script>

