<script id="template-file" type="template">
  <div id="file-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

<script id="template-text" type="template">
  <div class="large-12">
    <div class="row">
      <div class="large-12 column text-center">
        <h3>Group Title (Optional)</h3>
        <p>Write your story here. (Optional)</p>
      </div>
    </div>
  </div>
</script>

<script id="template-address" type="template">
  <div id="address-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

<script id="template-url-video" type="template">
  <div id="url-video-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

<script id="template-url-image" type="template">
  <div id="url-image-{{id}}" class="large-12 ">
    <img src="{{content}}" alt="" class="large-12">
  </div>
</script>

<script id="template-date" type="template">
  <div id="date-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

