<script id="template-file" type="template">
  <div id="file-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

<script id="template-text" type="template">
  <div id="text-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

<script id="template-address" type="template">
  <div id="address-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

<script id="template-url-video" type="template">
  <div id="url-video-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

<script id="template-url-image" type="template">
  <div id="url-image-{{id}}" class="large-12 column">
    <img src="{{content}}" alt="">
  </div>
</script>

<script id="template-date" type="template">
  <div id="date-{{id}}" class="large-12 column">
  {{content}}
  </div>
</script>

