<div class="row">
  <div class="large-12 column">
    <h3 class="text-center">Add to your project</h3>
    <ul id="art-new-form" class=" large-block-grid-4">
      <li>
        <div class="text-center panel">
          <%= link_to 'Add full-width picture', '#', :data=>{target: 'url-image'}, :class => 'add-content-to' %>
        </div>
      </li>
      <li>
        <div class="text-center panel">
          <%= link_to 'Embed a video', '#', :data=>{target: 'url-video'}, :class => 'add-content-to' %>
        </div>
      </li>
      <li>
        <div class="text-center panel">
          <%= link_to 'Add map', '#', :data=>{target: 'address'}, :class => 'add-content-to' %>
        </div>
      </li>
      <li>
        <div class="text-center panel">
          <%= link_to 'Add time', '#', :data=>{target: 'date'}, :class => 'add-content-to' %>
        </div>
      </li>
    </ul>
  </div>
</div>
