<div class="large-12 hero-first">
  <div class="row text-center">
    <div class="large-12 column">
      <p class="notice"></p>
      <div class="hero-head-title">
        <h1>Untitled Post</h1>
        <h2 class="subheader">Type a subtitle</h2>
      </div>
      <div class="hero-author-detail">
        <img src="" alt="">
        <h3>By Leonard Bogdonoff</h3>
        <p>August 23rd, 2014</p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="content-place"></div>

<%= render 'arts/add_fields' %>

<%= render 'arts/options_fields' %>

<%= render 'arts/fieldTemplates' %>

<div class="row">
  <%= link_to 'Back', arts_path %>
</div>
