<div class="row">
  <h1>New art</h1>
</div>

<div class="row" id="content-place"></div>

<%= render 'arts/add_fields' %>

<%= render 'arts/options_fields' %>

<%= render 'arts/fieldTemplates' %>

<div class="row">
  <%= link_to 'Back', arts_path %>
</div>

<script type="template/lkbg" class="text-content template">
  <div></div>
</script>

<script type="template/lkbg" class="picture-content template">
  <img src="{{image}}">
</script>

<script type="template/lkbg" class="video-content template">

</script>

<script type="template/lkbg" class="map-content template">

</script>

<script type="template/lkbg" class="time-content template">

</script>
