.block-grid-single{
  position: relative;
  min-height: 350px;
  overflow: hidden;

  .image-container{
    min-height: 350px;
    background-position: center;
    background-size: cover;
  }
  .block-grid-description{
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  &:hover{
    .block-grid-description{
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }
  }
}
