.scroller{
  position: relative;
  .scroller-container{
    overflow: scroll;
  }
  .title{
    position: absolute;
    background: rgba(0,0,0,.6);
    text-align: center;
    color: white;
    bottom: 0;
    font-size: 2em;
    width: 100%;
    margin: 0;
  }
}
