.clearfix{
  clear: both;
}

.h10{
  height: 10px;
}

.inline-block{
  display: inline-block;
}

.edit{
  background: #333;
}

.button-page-wrap{
  position: fixed;
  top: 420px;
  width: 100%;
  .button-right{
    float:right;
  }
}
