.content-column{
  margin-right: 320px;
  position: relative;
}

.clearfix:after {
  clear: both;
}

.spons-wrapper{
  width: 320px;
  float: left;
  position: relative;
  padding: 0px 0px 0 20px;
}

.cc{
  float: left;
  margin-right: -320px;
  width: 100%;
}

.sponsor-column{
  display: block;
}

.clearfix{
  clear: both;
}

.h10{
  height: 10px;
}

.text-center{
  text-align: center
}

.inline-block{
  display: inline-block;
}

.edit{
  background: #333;
}

.editable-content{
  position: relative;
}

.page-button-wrap{
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  right: 0;
  .button{
    opacity: .7;
    &:hover{
      opacity: 1;
    }
  }
  .button-right{
    float: right
  }
}
