.block-container{
  position: relative;
  overflow: hidden;
  .text-wrapper{
    position: absolute;
    bottom: -100%;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  &:hover{
    .text-wrapper{
      width: 100%;
        -webkit-transform: translate(0, 0%);
        transform: translate(0, 0%);
      background: rgba(0,0,0,.5);
    }
  }
}
