.hero-image-slice{
  height:500px;
  overflow:hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  h1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
  }
}

.min-slide{
  .image-container{
    height: 240px;
    background-position: center;
    background-size: cover;
  }
  max-height: 240px;
  overflow: hidden;
}
