<div class="upload-slot-wrapper">
  <div class="row upload-slot">
    <p class="text-center click-notice">Click button to expand</p>
    <div class="upload-wrapper">
      <div class="large-9 large-centered column">
        <h4 class="header-upload">Upload images
        <span class="right "><a href="" class="white">X</a></span>
        </h4>
      </div>
      <div class="large-9 column large-centered">
        <a href="" class="">
          <div class="large-4 column text-center white gradient-black upload-option border-left-upload">
            <%= image_tag 'computer-icon.png', :class=>'icon-80' %>
            <p class="white">browse your computer</p>
          </div>
        </a>
          <div class="large-4 column text-center white upload-option border-left-upload">
            <%= image_tag 'internet-icon.png', :class=>'icon-80' %>
            <p><input class="" placeholder="enter URLS to upload from web"></input></p>
          </div>
        <a href="" class="">
          <div class="large-4 column text-center white upload-option">
            <%= image_tag 'dragndrop-icon.png', :class=>'icon-80' %>
            <p class="white">drag and drop here</p>
          </div>
        </a>

      </div>
    </div>
    <div class="top-notice upload-notice">
      Upload
    </div>
  </div>
</div>
